In [5]:
text = ['what up everyone',
        'how are you guys doing? is every thing okay for all of you? I hope you have a great day',
        'did you take that out? you didnt? why not? where you busy?']
text

['what up everyone',
 'how are you guys doing? is every thing okay for all of you? I hope you have a great day',
 'did you take that out? you didnt? why not? where you busy?']

In [6]:
from sklearn.feature_extraction.text import CountVectorizer

vec2 = CountVectorizer()
t = vec2.fit_transform(text).toarray()

import pandas as pd
t1 = pd.DataFrame(t, columns=vec2.get_feature_names_out())
t1

,all,are,busy,day,did,didnt,doing,every,everyone,for,...,okay,out,take,that,thing,up,what,where,why,you
0,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,1,1,0,0,0
1,1,1,0,1,0,0,1,1,0,1,...,1,0,0,0,1,0,0,0,0,3
2,0,0,1,0,1,1,0,0,0,0,...,0,1,1,1,0,0,0,1,1,3

In [8]:
from sklearn.feature_extraction.text import TfidfTransformer
tfid = TfidfTransformer()
x2 = tfid.fit_transform(t1).toarray()
x3 = pd.DataFrame(x2,columns=tfid.get_feature_names_out())
x3

,all,are,busy,day,did,didnt,doing,every,everyone,for,...,okay,out,take,that,thing,up,what,where,why,you
0,0.000000,0.000000,0.00000,0.000000,0.00000,0.00000,0.000000,0.000000,0.57735,0.000000,...,0.000000,0.00000,0.00000,0.00000,0.000000,0.57735,0.57735,0.00000,0.00000,0.000000
1,0.222466,0.222466,0.00000,0.222466,0.00000,0.00000,0.222466,0.222466,0.00000,0.222466,...,0.222466,0.00000,0.00000,0.00000,0.222466,0.00000,0.00000,0.00000,0.00000,0.507574
2,0.000000,0.000000,0.26532,0.000000,0.26532,0.26532,0.000000,0.000000,0.00000,0.000000,...,0.000000,0.26532,0.26532,0.26532,0.000000,0.00000,0.00000,0.26532,0.26532,0.605349